Package: com.moom.oledlock
Name: OLEDLock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Idk here yet tbh
Maintainer: Mohammad Al-Ahdal
Author: Mohammad Al-Ahdal
Section: Tweaks
